.login-link {
    color: white;
    text-decoration: none;
    margin: 0;
    height: 100%;
    width: 100%;
}

.profile-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.party-panel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

body {
    background-color: #f5f5f5;
}

.create-party-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-party-container > :nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.party-type {
    margin-top: 10px;
}

.playlist-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.party_playlist {
    display: flex;
    flex-direction: column;
}
